{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header-container">
        <a href="{% url 'myapp:home' %}">
            <div class="site-icon">
                <i class="bi bi-house"></i>
            </div>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="account">
    <P>パスワードを変更しました</P>
    <div >
        <a href="{% url 'account_login' %}" class="index-button">ログイン</a>
    </div>

</div>


{% endblock %}

