{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header-container">
        <a href="{% url 'myapp:home' %}">
            <div class="site-icon">
                <i class="bi bi-house"></i>
            </div>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="account">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>パスワード変更用のメールを送信します。</p>

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="submit-btn">送信</button>
        
    </form>
</div>


{% endblock %}
