{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header-container">
        <a href="{% url 'myapp:home' %}">
            <div class="site-icon">
                <i class="bi bi-house"></i>
            </div>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="account">
    {% if token_fail %}
        {% url 'account_reset_password' as password_reset_url %}
        <p>このパスワード変更用リンクは無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit" class="submit-btn">変更</button>
            </form>

        {% else %}
            <p>パスワードは変更されています。</p>
        {% endif %}
    {% endif %}
</div>


{% endblock %}


