.change_profile{
    padding-top: 56px;

    .container{
        width: 50%;
        margin: 0 auto;
        padding-top: 2rem;
    
        .title{
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .change_profile_content{

            margin-bottom: 3rem;
            .profile_form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .field{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .label{
                        font-weight: bold;
                        color: #666;
                    }
                    input#id_username{
                        border: none;
                        outline:2px solid #eee;
                        border-radius: 5px;
                        padding: 0.7rem 0.5rem;
                        font-size: 1.1rem;
                    }

                    input#id_icon{
                        text-align: center;
                        border: 2px dotted #eee;
                        padding: 2rem;
                    }
                    input#id_icon:hover{
                        cursor: pointer;
                    }


                    textarea#id_introduction{
                        border: none;
                        outline:2px solid #eee;
                        border-radius: 5px;
                        resize:vertical;
                        padding: 0.6rem;
                        font-size: 0.9rem;
                    }

                }
                .profile-button{
                    border: none;
                    width: 80%;
                    height: 3rem;
                    margin: 1.5rem auto;
                    background-color:rgb(255, 71, 71);
                    font-weight: bold;
                    color: white;
                    font-size: 1.2rem;
                    border-radius: 5px;
                    
                }
                .profile-button:hover{
                    cursor: pointer;
                }
            }
        }
        
    }
    
}


