.mypage{
    padding-top: 56px;
    
    .mypage_container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        padding-top: 2rem;
        width: 90%;
        margin: 0 auto;

        .mypage_left{
            grid-column: 1 / 2;
            padding-top: 4.5rem;
            
            .left_title{
                margin-bottom: 0.8rem;

                span{
                    font-weight: bold;
                    color: #555;
                    font-size: 1.2rem;
                }
            }

            .left_item_board{
                display: flex;
                flex-direction: column;

                .left_item{
                    border-top: 1px solid #eee;
                    padding: 0.8rem 0;
                    display: flex;
                        justify-content: space-between;

                    p{
                        margin: 0;
                        align-self: center;
                    }

                }
                .left_item:hover{
                    cursor: pointer;
                    background-color: #eee;
                    
                }
                
            }
            .left_item_board > :last-child{
                border-bottom: 1px solid #eee;
            }
        }

        .mypage_right{
            grid-column: 2 / 7;

            .mypage_select{
                border-bottom: 1px solid #eee;

                .right_title{
                    padding-bottom: 2rem;
                    span{
                        font-size: 1.7rem;
                        font-weight: bold;
                    }
                }
                .mypage_selecter{
                    display: flex;
                    
                    p{
                        margin: 0;
                        padding: 0.6rem 1.8rem;
                        font-weight: bold;
                    }
                    p:hover{
                        background-color: #eee;
                    }
                }
            }
            .item_list_container{
                margin-left: 1rem;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;
                    margin: 1rem 0;
            
                    li{
                        position: relative;
                        outline: 1px solid #eee;
            
                        .sold_text{
                            position: absolute;
                            top: 0;
                            background-color: rgb(255, 71, 71);
                            color: white;
                            font-size: 1.8rem;
                            padding: 10px 10px;
                            border-radius: 0 0 5px 0;
                        }
                        
                        /* 商品の写真の表示 */
                        .item-list__image{
                            /* 縦横の長さを合わせる */
                            height: 17rem;
                            width: 17rem;
                            object-fit: cover;
                        }
                        .item-list__price{
                            position: absolute;
                            bottom: 40px;
                            left: 0;
                            padding: 2px 10px;
                            background-color: rgba(51, 51, 51, 0.726);
                            font-size: 1.4rem;
                            font-weight: bold;
                            color: white;
                            letter-spacing: 1px;
                            border-radius: 0 10px 10px 0;
            
                        }
                    }
                    .item-list__item:hover{
                        opacity: 0.8;
                        outline: 1px solid #aaa;
                    }
            
                }
            }

        }


    }
}

.background{
    background-color: #eee;
}

.textcolor{
    color: rgb(255, 71, 71);
    border-bottom: 3px solid rgb(255, 71, 71);
}