{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        {% block extra_style %}{% endblock %}
        {% block extra_js %}
        <script type='text/javascript'>
            sessionStorage.clear();
        </script>
        {% endblock %}
        <title>フリーマーケット</title>
    </head>
    <body>
        {% block header %}
        <header class="header" id="header">
            <div class="header-container">
                <a href="{% url 'myapp:home' %}">
                    <div class="site-icon">
                        <i class="bi bi-house"></i>
                    </div>
                </a>
                {% block form %}
                <form action="{% url 'myapp:search' %}" method="GET" class="search-form" autocomplete="off">
                    {% csrf_token %}

                    <input type="text" name="keyword" value="{{ request.GET.keyword }}" class="search-input" placeholder="何をお探しですか?" id="input-button">

                    <button class="search_button" id="search_button"><i class="bi bi-search"></i></button>
                </form>
                {% endblock %}
                <nav>
                    <ul>
                        <li>
                        {% if user.is_authenticated %}
                            <a href="#">
                                <i class="bi bi-bell-fill"></i>
                                <p>お知らせ</p>
                            </a>
                        </li>
                        
                        <li id="account_button">
                            <a href="#">
                                <img class="user_icon" src="{{ user.icon.url }}" alt="アイコン画像">
                                <p>アカウント</p>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'myapp:login_list' %}">
                                <p>ログイン</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'myapp:signup_list' %}">
                                <p>会員登録</p>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'myapp:sell' %}">
                                <button class="sell-btn">出品</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- カテゴリー検索へのリンク -->
            <div class="category_content" id="category_content">
                <a href="{% url 'myapp:category' %}">
                    <p>カテゴリーから探す</p>
                </a>
            </div>

            <!-- アカウント設定へのリンク -->
            <div class="account_content" id="account_content">
                <ul>
                    <a href="{% url 'myapp:settings' %}">
                        <li>
                            アカウント設定
                        </li>
                    </a>
                    <a href="{% url 'myapp:mypage/listings' 'listing' %}">
                        <li>
                            出品履歴
                        </li>
                    </a>
                    <a href="{% url 'myapp:mypage/purchases' 'in_progress' %}">
                        <li>
                            購入履歴
                        </li>
                    </a>
                    <a href="{% url 'account_logout' %}">
                        <li>
                            ログアウト
                        </li>
                    </a>
                </ul>
            </div>

        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}


        {% block script %}
        {% endblock %}



        <script type='text/javascript' src="{% static 'myapp/js/base.js' %}"></script>
        

    </body>
</html>