{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/category.css' %}">
{% endblock %}

{% block content %}
<div class="category">
    <div class="category_title">カテゴリー</div>
    <div class="category_container">
        <ul>
            {% for category in Category %}
            <li>
                <a href="#" class="category-link">
                    <p>{{ category.label }}</p>
                    <p>></p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


