{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <div class="home_title">商品一覧</div>
    <ul class="item-container">
        {% for item in object_list %}
        <li class="item-list__item">
            <a class="item-list__link" href="{% url 'myapp:item' item.id %}">
                {% if item.is_purchased %}
                    <div class="sold_text">SOLD</div>
                {% endif %}
                <img class="item-list__image" src="{{ item.image.url }}" alt="商品の写真">
                <span class="item-list__price">¥{{ item.price }}</span>
                <div class="item-list__name">{{ item.name }}</siv>
            </a>
        </li>
        {% empty %}
            <p>商品がありません</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}


