{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/item.css' %}">
{% endblock %}

{% block content %}
<div class="item">
    <div class="item_container">
        <div class="item_image_wrap">
            {% if item.is_purchased %}
                <div class="sold_text">SOLD</div>
            {% endif %}
            <img class="item_image" src="{{ item.image.url }}" alt="商品の写真">
        </div>
        <div class="item_about">
            <div class="item_name">{{ item.name }}</div>
            <div class="item_price">¥{{ item.price }}</div>
            {% if user.is_authenticated %}
            <button class="item_button" id="item_button">
                <a href="{% url 'myapp:purchase' item.id %}" id="purchase_link">
                    {% if item.is_purchased %}
                        売り切れました
                    {% else %}
                        購入手続きへ
                    {% endif %}
                </a>
            </button>
            {% else %}
            <button class="item_button" id="item_button">
                <a href="{% url 'myapp:signup_list' %}" id="purchase_link">
                    {% if item.is_purchased %}
                        売り切れました
                    {% else %}
                        購入手続きへ
                    {% endif %}
                </a>
            </button>
            {% endif %}
            <div class="item_detail">
                <p class="item_detail_title">商品の説明</p>
                {{ item.detail|linebreaksbr }}
                <div class="item_date">
                    <span>{{ item.sell_time|date:"m/d" }} {{ item.sell_time|date:"H:i" }}</span>
                </div>
            </div>
            <div class="item_info">
                <p class="item_info_title">商品の情報</p>
                <ul>
                    <li>
                        <span>カテゴリー</span>
                        {{ category }}
                    </li>
                    <li>
                        <span>商品の状態</span>
                        {{ quality }}
                    </li>
                </ul>
                
            </div>
            <div class="item_seller">
                <div class="item_seller_title">出品者</div>
                <a class="seller_link" href="{% url 'myapp:seller_profile' item.seller.id %}">
                    <span class="seller_info_board">
                        <img class="seller_icon" src="{{ item.seller.icon.url }}" alt="出品者のアイコン画像">
                        <span class="seller_name">{{ item.seller.username }}</span>
                        <span class="next_icon">></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ item.is_purchased|json_script:'is_purchased' }}
<script type='text/javascript' src="{% static 'myapp/js/item.js' %}"></script>
{% endblock %}
