{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/search.css' %}">
{% endblock %}

{% block content %}
<div class="search">
    <ul class="item-list">
        {% for item in items %}
        <li class="item-list__item">
            <a class="item-list__link" href="{% url 'myapp:item' item.id %}">
                <img class="item-list__image" src="{{ item.image.url }}" alt="商品の写真">
                <div class="item-list__price">{{ item.price }}円</div>
                <div class="item-list__price">{{ item.name }}</div>
            </a>
        </li>
        {% empty %}
            <p>商品がありません</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}

