{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/search.css' %}">
{% endblock %}

{% block extra_js %}
<script type='text/javascript'>
// categoryから来たときにチェック状態にしておきた
    var url = new URL(window.location.href);
    // URLSearchParamsオブジェクトを取得
    var params = url.searchParams;
    if(params.get('category')){
        let category =  params.get('category');
        sessionStorage.setItem(category, true);
    }
</script>
{% endblock %}

{% block form %}
<div class="search-form">
    <input type="text" value="{{ request.GET.keyword }}" class="search-input" placeholder="何をお探しですか?" id="input-button">
    <button class="search_button" id="search_button" onclick="SearchButtonClick();"><i class="bi bi-search"></i></button>
</div>
{% endblock %}

{% block content %}
<div class="search">
    <div class="search_container">
        <div class="search_option_container">
            <p class="search_option_container_title">絞り込み</p>
            <div class="check_list">
                <div class="check_list_title">カテゴリー</div>
                {% for category in Category %}
                <label for="{{ category.value }}">
                    <div class="list_item">
                        <input type="checkbox" id="{{ category.value }}" class="list_checkbox search_checkbox" value="{{ category.value }}">{{ category.label }}
                    </div>
                </label>
                {% endfor %}
            </div>
            <div class="check_list">
                <div class="check_list_title">商品の状態</div>
                {% for quality in Quality %}
                <label for="{{ quality.value }}">
                    <div class="list_item">
                        <input type="checkbox" id="{{ quality.value }}" class="list_checkbox search_checkbox" value="{{ quality.value }}">{{ quality.label }}
                    </div>
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="search_result_container">
            <div class="search_result_container_head">
                <p class="search_result_container_title">{% if request.GET.keyword %}{{ request.GET.keyword }} の{% endif %}検索結果</p>
                <p class="search_result_num">{{ items|length }}件</p>
            </div>
            <div class="result_option_container">
                <label for="on_sale">
                    <div class="status_item">
                        <input type="checkbox" id="on_sale" class="status_checkbox search_checkbox" value="on_sale">販売中のみ表示
                    </div>
                </label>
                <select id="sort" class="sort_item">
                    {% for sort in Sort %}
                    <option value="{{ sort.value }}">{{ sort.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <ul class="item-container">
                {% for item in items %}
                <li class="item-list__item">
                    <a class="item-list__link" href="{% url 'myapp:item' item.id %}">
                        {% if item.is_purchased %}
                            <div class="sold_text">SOLD</div>
                        {% endif %}
                        <img class="item-list__image" src="{{ item.image.url }}" alt="商品の写真">
                        <span class="item-list__price">¥{{ item.price }}</span>
                        <div class="item-list__name">{{ item.name }}</siv>
                    </a>
                </li>
                {% empty %}
                    <p>商品がありません</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script type='text/javascript' src="{% static 'myapp/js/search.js' %}"></script>
{% endblock %}



