{% extends "myapp/base.html" %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/sell.css' %}">
{% endblock %}

{% block content %}
<div class="sell">
    <div class="container">
        <div class="title">商品の出品</div>
        <div class="sell_form_content">
            <form action="{% url 'myapp:sell' %}" method="POST" enctype="multipart/form-data" class="sell_form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}

                        {{ field.errors }}
                    </div>
                {% endfor %}
                
                <input type="submit" value="出品" class="sell-button">
            </form>
        </div>
    </div>
</div>
{% endblock %}

