{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/login_list.css' %}">
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header-container">
        <a href="{% url 'myapp:home' %}">
            <div class="site-icon">
                <i class="bi bi-house"></i>
            </div>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="account">
    <div class="title">会員登録</div>
    <div class="login_buttons">
        <a href="{% url 'account_signup' %}">
            <div class="login_button_wrap" id="mail">
                <i class="bi bi-envelope" id="mail"></i>
                <span class="login_button_text">メールアドレスで登録する</span>
            </div>
        </a>
        <a href="{% url 'line_login' %}">
            <div class="login_button_wrap" id="line">
                <i class="bi bi-line" id="line"></i>
                <span class="login_button_text">LINEで登録する</span>
            </div>
        </a>
        <a href="{% url 'twitter_login' %}">
            <div class="login_button_wrap" id="twitter">
                <i class="bi bi-twitter" id="twitter"></i>
                <span class="login_button_text">Twitterで登録する</span>
            </div>
        </a>
    </div>
    <div class="signup_button_container">
        <div class="sign_up_title">
            <span>アカウントをお持ちのかた</span>
        </div>
        <a href="{% url 'myapp:login_list' %}">
            <div class="signup_button_wrap">
                <span class="signup_button_text">ログイン</span>
            </div>
        </a>
    </div>
    
</div>
{% endblock %}
