{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/login_list.css' %}">
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header-container">
        <a href="{% url 'myapp:home' %}">
            <div class="site-icon">
                <i class="bi bi-house"></i>
            </div>
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="account">
    <div class="title">ログイン</div>
    <div class="login_buttons">
        <a href="{% url 'account_login' %}">
            <div class="login_button_wrap" id="mail">
                <i class="login_button_icon"></i>
                <span class="login_button_text">メールアドレスでログイン</span>
            </div>
        </a>
        <a href="{% url 'line_login' %}">
            <div class="login_button_wrap" id="line">
                <i class="login_button_icon"></i>
                <span class="login_button_text">LINEでログイン</span>
            </div>
        </a>
        <a href="{% url 'twitter_login' %}">
            <div class="login_button_wrap" id="twitter">
                <i class="login_button_icon"></i>
                <span class="login_button_text">Twitterでログイン</span>
            </div>
        </a>


    </div>
    
</div>
{% endblock %}
